* {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

li {
  list-style: none;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  background-color: #fff;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: grey;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
